.banner {
  height: 80vh;
}

.banner-text h1 {
  font: var(--h1-font);
}

.laravel-color {
  color: var(--laravel-red)
}

.banner img {
  padding: 0;
  /* aspect-ratio: 17:9; */
}

.banner .cv_btn {
  background-color: var(--laravel-red);
  color: var(--white-color);
}

.banner .cv_btn:hover {
  background-color: var(--light-red);
}