.banner {
  height: 70vh;
}

.banner-text h1 {
  font: var(--h1-font);
}

.laravel-color {
  color: var(--laravel-red)
}

.banner img {
  padding: 0;
  /* aspect-ratio: 17:9; */
}

.banner .cv_btn,
.cv_btn {
  background-color: var(--laravel-red) !important;
  color: var(--white-color) !important;
}

.banner .cv_btn:hover,
.cv_btn:hover {
  background-color: var(--light-red) !important;
}