/* NEW code */
.sidebar {
  position: fixed;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  z-index: 20;
}

.sidebar ul,
.sidebar-phone ul {
  list-style: none;
  background-color: hsla(0, 0%, 100%, .1);
  backdrop-filter: blur(4px);
}

.sidebar ul li.active,
.sidebar-phone ul li.active,
.sidebar ul li:hover,
.sidebar-phone ul li:hover {
  color: var(--laravel-red);
}

/* ================== For the phones and tablets view ================== */
.sidebar-phone {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 20;
}

/* Fix issue for overlap */
.sidebar-phone .items {
  margin-block: -14px;
}