#my-work span {
  color: var(--laravel-red);
}

.work h1 {
  font: var(--h1-font);
}

.work-card {
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(4px);
  transition: background-color var(--short-trans);
}

.work-card:hover {
  background-color: rgba(0, 0, 0, 0.55);
}

#projectsAddModal input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);

}

/* Chrome/Edge/Safari */
input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);

}

/* IE 10+ */
input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);

}

/* Edge */
input::placeholder {
  color: rgba(255, 255, 255, 0.5);

}